.disabled {
  @apply cursor-not-allowed opacity-50;
}

.container.full-width {
  max-width: 100%;
}

.card.clone {
  position: fixed !important;
  @apply pointer-events-none inset-0 border border-blue-500 z-50 opacity-75 shadow-xl;
  animation: 0.3s shadow;
}

.transparent {
  @apply pointer-events-none opacity-50;
}

@keyframes shadow {
  from {
    @apply shadow-none;
  }

  to {
    @apply shadow-xl;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
