.column-wrap {
  @apply overflow-x-auto flex box-border h-screen max-h-screen min-w-0 pt-20 pb-4;
  transition: margin-right 0.3s ease;
}

.column {
  @apply flex-none flex flex-col relative w-full max-w-sm bg-gray-200 box-border border border-gray-400 rounded mr-4 py-4;
}

.column:first-child {
  @apply ml-4;
}

.column-title-wrap {
  @apply flex items-center justify-between px-4;
}

.column-button-wrap {
  @apply flex items-center;
}

.column-number {
  @apply flex items-center justify-center rounded-full w-6 h-6 mr-2 bg-gray-400 font-bold;
}

.column-title {
  @apply block box-border w-4/5 pr-4;
}

.column-add-button {
  @apply transition duration-300 cursor-pointer flex-none flex relative justify-center items-center w-full max-w-sm h-32 box-border border border-dashed border-gray-500 rounded mr-4 py-4 text-lg text-gray-700 font-bold;
}

.column-add-button:hover {
  @apply bg-gray-200;
}

.column-add-button .material-icons {
  @apply text-gray-700;
}

.column-add-button::after {
  content: '';
  display: block;
  position: absolute;
  right: -1rem;
  width: 1rem;
  height: 1rem;
}
