@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@tailwind base;

@tailwind components;

/* layout */
* {
  @apply text-gray-900;
}

.material-icons {
  @apply text-gray-800;
}

.container {
  @apply box-border mx-auto min-w-0;
}

/* header */
.header,
.sidemenu-header {
  @apply flex absolute top-0 inset-x-0 items-center justify-between h-16 px-6;
}

.header {
  @apply fixed z-10 bg-gray-900;
}

.header-title {
  font-family: 'Poppins', sans-serif;
  @apply font-bold text-2xl text-white;
}

.icon-btn {
  @apply absolute right-0 mr-3 w-12 h-12 flex items-center justify-center;
}

/* menu button */
.menu-btn,
.edit-btn {
  @apply absolute right-0;
}

.menu-btn {
  @apply text-white;
}

/* column */
.column-wrap {
  @apply overflow-x-auto flex box-border h-screen max-h-screen min-w-0 pt-20 pb-4;
}

.column {
  @apply flex-none flex flex-col relative w-full max-w-md bg-gray-200 box-border border border-gray-400 rounded p-4 mr-4;
}

.column:first-child {
  @apply ml-4;
}

.column:last-child::after {
  content: '';
  display: block;
  position: absolute;
  right: -1rem;
  width: 1rem;
  height: 1rem;
}

.column-title-wrap {
  @apply flex items-center mb-4;
}

.column-number {
  @apply flex items-center justify-center rounded-full w-6 h-6 bg-gray-400 font-bold;
}

.column-title {
  @apply ml-2 text-xl font-bold;
}

textarea,
.edit-btn,
.delete-btn,
.add-btn {
  @apply transition duration-200 ease-in-out;
}

.edit-btn {
  @apply mr-4;
}

.edit-btn:hover,
.delete-btn:hover {
  @apply text-blue-500;
}

/* text-area */
.todo-input-wrap {
  @apply flex flex-col flex-wrap mb-4;
}

textarea {
  @apply box-border w-full h-24 p-4 resize-y border border-gray-300 rounded;
}

.input-btn-wrap {
  @apply grid grid-cols-2 gap-2;
}

.input-btn-wrap button {
  @apply h-10 rounded font-semibold mt-2;
}

.add-btn {
  @apply border border-blue-600 bg-blue-500 text-white;
}

.disabled {
  @apply cursor-not-allowed opacity-50;
}

.cancel-btn {
  @apply bg-gray-100 border border-gray-400;
}

.full-width {
  max-width: 100%;
}

/* card */
.card-wrap {
  @apply overflow-y-scroll;
}

.card {
  @apply relative box-border w-full p-2 pl-10 pr-10 mb-2 bg-white border border-gray-400 rounded;
}

.card-icon,
.delete-btn {
  @apply absolute top-0 mt-2;
}

.card-icon {
  @apply left-0 ml-2 text-gray-600;
}

.delete-btn {
  @apply right-0 mr-2;
}

.card-title {
  @apply font-semibold align-top mb-2;
}

.small-text {
  @apply text-sm text-gray-500;
}

.small-text strong {
  @apply font-normal text-gray-600;
}

/* sidemenu */
.sidemenu {
  @apply absolute flex flex-col box-border z-20 .shadow-xl top-0 right-0 max-w-md w-full h-full bg-white px-6;
  /* right: -28rem; transition animation */
}

.sidemenu-header {
  @apply bg-gray-200 border-b border-gray-300;
}

.sidemenu-title {
  font-family: 'Poppins', sans-serif;
  @apply font-bold text-2xl;
}

.activity-container {
  @apply overflow-y-scroll pt-16;
}

.activity-text {
  @apply block mb-1;
}

.activity-list {
  @apply py-4 border-b border-gray-300;
}

.activity-todo {
  @apply text-blue-600;
}

button:focus,
textarea:focus {
  @apply outline-none;
}

textarea:focus {
  @apply shadow-outline;
}

@tailwind utilities;
